{% extends 'layout.twig' %}
{% block headLinks %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/javascript/javascript.min.js"></script>

{% endblock %}

{% block titulek %}Editor stránky{% endblock %}
{% block nadpis %}Editor stránky{% endblock %}


{% block content %}
<div class="row">
    {% include 'forms/addPageForm.twig' %}
</div>
{% endblock %}
{% block jsLinks %}
    <!-- Javascripts -->
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/pace/pace.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/js/main.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/js/custom.js"></script>

<script>
updateUrlParamsAndShowAlert('articleForm');
document.addEventListener('DOMContentLoaded', function() {
    // Inicializace CodeMirror na elementu textarea
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
        mode: "javascript", // nebo jiný mód podle potřeby
        lineNumbers: true,
        theme: "default"
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const categorySelect = document.getElementById('categorySelect');
    const selectedCategoriesDiv = document.getElementById('selectedCategories');

    // Funkce pro odstranění kategorie
    window.removeCategory = function(categoryId) {
        const categoryTag = document.getElementById('categoryTag' + categoryId);
        if (categoryTag) {
            categoryTag.remove();
        }
    };

    // Inicializace již vybraných kategorií
    const selectedOptions = categorySelect.selectedOptions;
    for (let option of selectedOptions) {
        createCategoryTag(option.value, option.text);
    }

    // Přidání nově vybraných kategorií
    categorySelect.addEventListener('change', function() {
        const categoryId = this.value;
        const categoryText = this.options[this.selectedIndex].text;
        createCategoryTag(categoryId, categoryText);
        this.value = ''; // Resetování výběru
    });

    // Funkce pro vytvoření tagu kategorie
    function createCategoryTag(categoryId, categoryText) {
        if (!document.getElementById('categoryTag' + categoryId)) {
            const categoryTag = document.createElement('span');
            categoryTag.id = 'categoryTag' + categoryId;
            categoryTag.classList.add('category-tag');
            categoryTag.innerHTML = categoryText + ' <button type="button" onclick="removeCategory(' + categoryId + ')">&times;</button>';

            selectedCategoriesDiv.appendChild(categoryTag);

            // Přidání skrytého inputu
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'categories[]';
            input.value = categoryId;
            categoryTag.appendChild(input);
        }
    }
});
</script>
{% endblock %}