{% extends 'layout.twig' %}

{% block titulek %}Správa oprávnění{% endblock %}
{% block nadpis %}Správa oprávnění{% endblock %}
{% block podNadpis %}V této části se řeší role, jejich oprávnění i možnosti přidělování.{% endblock %}


{% block content %}
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Správa rolí</h5>
            {% include 'forms/roleForm.twig' %}
        </div>
        <div class="card-body">
            <h5 class="card-title">Seznam rolí</h5>
            <div class="example-container">
                <div class="example-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název role</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Seznam oprávnění</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in pageData.allRolesWithPremissions %}
                                <tr>
                                <td scope="row">{{ row.id }}</td>
                                <th>{{ row.name }}</th>
                                <td>{{ row.description }}</td>
                                <td>{{ row.premission }}
                                {% for subRow in row.permissions %}
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ subRow.description }}">
                                        {{ subRow.name }}
                                    </button>
                                {% endfor %}
                                </td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Správa oprávnění</h5>
            {% include 'forms/permissionForm.twig' %}
        </div>
        <div class="card-body">
            <h5 class="card-title">Seznam oprávnění</h5>
            <div class="example-container">
                <div class="example-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Název role</th>
                                <th scope="col">Popis</th>
                                <th scope="col">Seznam oprávnění</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in pageData.allPermissions %}
                                <tr>
                                <td scope="row">{{ row.id }}</td>
                                <th>{{ row.name }}</th>
                                <td>{{ row.description }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsLinks %}
    <!-- Javascripts -->
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/pace/pace.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/js/main.min.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/js/custom.js"></script>
    <script src="{{ domainData.SITE_WEB }}/{{ templateDir}}assets/js/pages/dashboard.js"></script>
<script>
updateUrlParamsAndShowAlert('roleForm');
updateUrlParamsAndShowAlert('permissionForm');
</script>
{% endblock %}