<ul class="accordion-menu">
    <li class="active-page">
        <a href="{{ domainData.SITE_WEB }}/admin" class="active"><i class="material-icons-two-tone">dashboard</i>Nástěnka</a>
    </li>

    <li>
        <a href="{{ domainData.SITE_WEB }}/admin/fileManager"><i class="material-icons-two-tone">cloud_queue</i>Soubory</a>
    </li>
    <li>
        <a href="{{ domainData.SITE_WEB }}/admin/imageManager"><i class="material-icons-two-tone">calendar_today</i>Galerie</a>
    </li>
    <li class="sidebar-title">
        Obsah webu 
    </li>
    {% if userData.prava.pagesAdmin == 1 %}<li>
        <a href="#"><i class="material-icons-two-tone">color_lens</i>Stránky <i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/AddArticle">Nový článek</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/AddPage">Nová stránka</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/allArticle">Seznam stránek</a>
            </li>
            <!--<li>
                <a href="styles-icons.html">Koncepty stránek</a>
            </li>-->
        </ul>
    </li>{% endif %}
    <li>
        <a href="#"><i class="material-icons-two-tone">grid_on</i>Navigace<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            {% for navigation in webNavigations %}
                <li>
                <a href="{{ domainData.SITE_WEB }}/admin/siteNav?navigation_id={{ navigation.id }}">{{ navigation.name }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/getNavigation">Správa navigací webu</a>
            </li>
        </ul>
    </li>
    <li>
        <a href=""><i class="material-icons-two-tone">sentiment_satisfied_alt</i>Správa uživatelů<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="ui-alerts.html">Přidat uživatele</a>
            </li>
            <li>
                <a href="ui-avatars.html">Seznam uživatelů</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{{ domainData.SITE_WEB }}/admin/config">Konfigurace</a>
    </li>
    <li class="sidebar-title">
        Další weby
    </li>
    <li>
        <a href="#"><i class="material-icons-two-tone">analytics</i>Moje weby<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/myWeb">Nastavení {{ domainData.SITE_WEB }}</a>
            </li>
            <li>
                <a href="charts-apex.html">Nový web</a>
            </li>
            <li>
                <a href="charts-chartjs.html">Přehled webů</a>
            </li>
        </ul>
    </li>
    <li class="sidebar-title">
        SuperAdmin
    </li>
    <li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/superOpravneni"><i class="material-icons-two-tone">cloud_queue</i>Oprávnění</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/urlAdd"><i class="material-icons-two-tone">cloud_queue</i>Správa URL</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/newWeb"><i class="material-icons-two-tone">cloud_queue</i>Správa domén</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/templates/"><i class="material-icons-two-tone">cloud_queue</i>Správa šablon</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/confDef"><i class="material-icons-two-tone">cloud_queue</i>Konfigurace proměnných</a>
            </li>

    </li>
</ul>