<ul class="accordion-menu">
    <li class="active-page">
        <a href="{{ domainData.SITE_WEB }}/admin/ class="active"><i class="material-icons-two-tone">dashboard</i>Nástěnka</a>
    </li>

    <li>
        <a href="{{ domainData.SITE_WEB }}/admin/fileManager"><i class="material-icons-two-tone">cloud_queue</i>Soubory</a>
    </li>
    <li class="sidebar-title">
        Obsah webu 
    </li>
    {% if userData.prava.pagesAdmin == 1 %}<li>
        <a href="#"><i class="material-icons">auto_stories</i>Stránky <i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/AddArticle">Nový článek</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/AddPage">Nová stránka</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/allArticle">Seznam stránek</a>
            </li>
            <!--<li>
                <a href="styles-icons.html">Koncepty stránek</a>
            </li>-->
        </ul>
    </li>{% endif %}
    {% if userData.prava.navigationsAdmin == 1 %}<li>
        <a href="#"><i class="material-icons">category</i>Produkty<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/addProduct">Nový produkt</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/allProducts">Seznam produktů</a>
            </li>
        </ul>
    </li>{% endif %}
    {% if userData.prava.navigationsAdmin == 1 %}<li>
        <a href="#"><i class="material-icons">category</i>Navigace<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            {% for navigation in webNavigations %}
                <li>
                <a href="{{ domainData.SITE_WEB }}/admin/siteNav?navigation_id={{ navigation.id }}">{{ navigation.name }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/getNavigation">Správa navigací webu</a>
            </li>
        </ul>
    </li>{% endif %}
    {% if userData.prava.usersAdmin == 1 %}<li>
        <a href=""><i class="material-icons">people</i>Správa uživatelů<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/addSiteUser">Přidat uživatele</a>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/getAllSiteUsers">Seznam uživatelů</a>
            </li>
        </ul>
    </li>{% endif %}
    {% if userData.prava.mywebAdmin == 1 %}<li>
        <a href="{{ domainData.SITE_WEB }}/admin/myWeb"><i class="material-icons">settings</i>Konfigurace webu</a>
    </li>{% endif %}
    {% if userData.prava.configuratinsAdmin == 1 %}<li class="sidebar-title">
        Další weby
    </li>
    <li>
        <a href="#"><i class="material-icons">layers</i>Moje weby<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
        <ul class="sub-menu">
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/config">Nastavení {{ domainData.SITE_WEB }}</a>
            </li>
            <li>
                <a href="#">Nový web</a>
            </li>
            <li>
                <a href="#">Přehled webů</a>
            </li>
        </ul>
    </li>{% endif %}
    {% if userData.prava.fullcontrol == 1 %}<li class="sidebar-title">
        SuperAdmin
    </li>
    <li>
            {% if userData.prava.permissionsAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/superOpravneni"><i class="material-icons">key</i>Oprávnění</a>
            </li>{% endif %}
            {% if userData.prava.allUserAdmin == 1 %}<li>
                <a href=""><i class="material-icons">people</i>Správa uživatelů<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="{{ domainData.SITE_WEB }}/admin/addUser">Přidat uživatele</a>
                    </li>
                    <li>
                        <a href="{{ domainData.SITE_WEB }}/admin/allUsers">Seznam uživatelů</a>
                    </li>
                </ul>
            </li>{% endif %}
            {% if userData.prava.urlAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/urlAdd"><i class="material-icons">http</i>Správa URL</a>
            </li>{% endif %}
            {% if userData.prava.domainAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/newWeb"><i class="material-icons">domain</i>Správa domén</a>
            </li>{% endif %}
            {% if userData.prava.templatesAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/templates/"><i class="material-icons">web</i>Správa šablon</a>
            </li>{% endif %}
            {% if userData.prava.templatesAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/product-types/"><i class="material-icons">web</i>Typy produktů</a>
            </li>{% endif %}
            {% if userData.prava.templatesAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/parameters/"><i class="material-icons">web</i>Správa parametrů</a>
            </li>{% endif %}
            {% if userData.prava.variablesAdmin == 1 %}<li>
                <a href="{{ domainData.SITE_WEB }}/admin/confDef"><i class="material-icons">tune</i>Konfigurace proměnných</a>
            </li>{% endif %}
            <li>
                <a href=""><i class="material-icons-two-tone">cloud_queue</i>Logy<i class="material-icons has-sub-menu">keyboard_arrow_right</i></a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">Debug</a>
                    </li>
                    <li>
                        <a href="#">Info</a>
                    </li>
                    <li>
                        <a href="#">Warning</a>
                    </li>
                    <li>
                        <a href="#">Error</a>
                    </li>
                    <li>
                        <a href="#">Consens</a>
                    </li>
                    <li>
                        <a href="#">Cron</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ domainData.SITE_WEB }}/admin/confDef"><i class="material-icons-two-tone">cloud_queue</i>Konfigurace proměnných</a>
            </li>
    </li>{% endif %}
</ul>