{% macro renderCategoryCheckboxes(categories, selectedCategories) %}
    {% import _self as self %}
    {% set selectedCategories = selectedCategories|default([]) %}
    <ul class="list-disc ml-6 space-y-2">
    {% for category in categories %}
        {% set isChecked = selectedCategories|filter(c => c.id == category.id)|length > 0 %}
        {% if category.meta.listArticles != "true" and category.is_active != "suspend" %}
        <li class="ml-5">
            <input type="checkbox" id="category_{{ category.id }}" name="categories[]" value="{{ category.id }}" {{ isChecked ? 'checked' : '' }}>
            <label for="category_{{ category.id }}" data-url="{{ category.url }}" data-id="{{ category.id }}" style="cursor: pointer;" class="no-select">{{ category.title }}</label>
            {% if category.children|length > 0 %}
                {{ self.renderCategoryCheckboxes(category.children, selectedCategories) }}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}

<style>
.medium-editor-element h1{
    text-decoration: line-through;
    font-size: 24px;
    font-wight: bold;
    line-height: 2; 
    color: red;    
}
.medium-editor-element h2{
    font-size: 20px;
    font-wight: bold;
    line-height: 2;   
}
.medium-editor-element h3{
    font-size: 17px;
    font-wight: bold;
    line-height: 2;   
}
.medium-editor-element h4{
    font-size: 14px;
    font-wight: bold;
    line-height: 2;   
}
.category-tag {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    background-color: #e9ecef;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.category-tag button {
    margin-left: 5px;
    border: none;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    padding: 0 5px;
}

.editable {
    min-height: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fff;
}

#contextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#contextMenu button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

#contextMenu button:hover {
    text-decoration: underline;
}



.selected-image {
    border: 2px solid blue; // Příklad vizuálního označení
}


.no-select {
            user-select: none; /* Pro moderní prohlížeče */
            -webkit-user-select: none; /* Pro Safari */
            -moz-user-select: none; /* Pro Firefox */
            -ms-user-select: none; /* Pro Internet Explorer/Edge */
        }
</style>

<form id="articleForm" method="post" action="{{ domainData.SITE_WEB }}/admin/doArticle">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Obsah stránky</h5>
        </div>
        <div class="card-body">
        
            <!-- Skryté ID článku -->
            <input type="hidden" class="form-control" id="id" name="id" value="{{ pageData.article.id|default('') }}" />
            <input type="hidden" class="form-control" id="mainCatid" name="mainCatid" value="{{ pageData.article.meta.mainCatid|default('') }}" />

            <!-- Skryté ID uživatele -->
            <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{ pageData.article.user_id|default(userData.uid) }}" />
            <input type="hidden" class="form-control" id="content_type" name="meta[content_typ]" value="article" />

            <!-- Název článku a výběr druhu obsahu -->
            <div class="row mb-3">
                <div class="col-md-9">
                    <label for="title" class="form-label">Název článku</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ pageData.article.title|default('') }}" required  maxlength="255">
                </div>
                <div class="col-md-3">
                    <label for="status" class="form-label">Stav</label>
                    <select class="form-select" id="status" name="status" required>
                        <option value="development" {% if pageData.article.status == 'development' %}selected{% endif %}>V přípravě</option>
                        <option value="active" {% if pageData.article.status == 'active' %}selected{% endif %}>Aktivní</option>
                        <option value="suspend" {% if pageData.article.status == 'suspend' %}selected{% endif %}>Zrušen</option>
                    </select>
                </div>
            </div>

            <!-- Tělo článku -->
            <div class="mb-3">
            <div id="uploadIndicator" style="display: none; position: fixed; top: 50%; margin: 0 auto; background-color: #fff; opacity: 0.85; color: #000; padding: 10px; border: 2px red solid; border-radius: 5px; z-index: 1000; text-align: center;">
    <h3>Obrázek se zpracovává</h3><p>Obrázek nahrávám, následně jej optimalizuji a pak vytvářím vhodné formáty velikosti</p><p>Obvykle proces zabere přibližně 5s</p>
    <img src="{{ domainData.SITE_WEB }}/templates/admin/assets/images/veverku_transp.svg" width="200px" />
</div>
                {# <textarea name="body" id="editor">{{ pageData.article.body|default('')|raw }}</textarea> #}
                <div id="editor" class="editable">{{ pageData.article.body|default('')|raw }}</div>
                <textarea name="body" id="body" style="display:none;"></textarea>
            </div>
        </div>
    </div>
    <div class="card">
    <div class="card-header">
        <h5 class="card-title">Podrobnosti</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Levý sloupec pro ostatní položky (7 z 12) -->
            <div class="col-md-7">
                <!-- Url -->
                <div class="mb-3">
                    <label for="url" class="form-label">Adresa stránky</label>
                    <input type="text" class="form-control" id="url" name="url" value="{{ pageData.article.url|default('') }}">
                </div>

                <!-- Podnázev -->
                <div class="mb-3">
                    <label for="subtitle" class="form-label">Podnázev</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ pageData.article.subtitle|default('') }}"  maxlength="255">
                </div>

                <!-- Snippet -->
                <div class="mb-3">
                    <label for="snippet" class="form-label">Snippet</label>
                    <textarea class="form-control" id="snippet" name="snippet">{{ pageData.article.snippet|default('') }}</textarea>
                </div>

                <!-- Krátký text -->
                <div class="mb-3">
                    <label for="short_text" class="form-label">Krátký text</label>
                    <input type="text" class="form-control" id="short_text" name="short_text" value="{{ pageData.article.short_text|default('') }}"  maxlength="255">
                </div>

                <!-- Meta Title -->
                <div class="mb-3">
                    <label for="metaTitle" class="form-label">Meta Title</label>
                    <input type="text" class="form-control" id="metaTitle" name="meta[title]" value="{{ pageData.article.meta.title|default('') }}">
                </div>

                <!-- Meta Description -->
                <div class="mb-3">
                    <label for="metaDescription" class="form-label">Meta Description</label>
                    <textarea class="form-control" id="metaDescription" name="meta[description]">{{ pageData.article.meta.description|default('') }}</textarea>
                </div>

                <!-- Meta Keywords -->
                <div class="mb-3">
                    <label for="metaKeywords" class="form-label">Meta Keywords</label>
                    <input type="text" class="form-control" id="metaKeywords" name="meta[keywords]" value="{{ pageData.article.meta.keywords|default('') }}">
                </div>
                <div class="row">
                    <!-- Select autor -->
                    <div class="col-md-6 mb-3">
                        <label for="authorSelect" class="form-label">Autor</label>
                        <select id="authorSelect" name="user_id" class="form-control">
                            {% set selectedUserId = pageData.article.user_data.id ?? userData.uid %}
                            {% for userId, user in pageData.usersInRole %}
                                <option value="{{ user.user_id }}" {% if user.user_id == selectedUserId %}selected{% endif %}>
                                    {{ user.user_name }} ({{ user.user_email }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Input označení autora -->
                    <div class="col-md-6 mb-3">
                        <label for="metaAutorName" class="form-label">Označení autora</label>
                        <input type="text" class="form-control" id="metaAutorName" name="meta[autor_name]" value="{{ pageData.article.meta.autor_name|default('') }}">
                    </div>
                </div>
            </div>

            <!-- Pravý sloupec pro výběr kategorií (5 z 12) -->
            <div class="col-md-5">
                <!-- Datum a čas začátku publikace -->
                <div class="mb-3">
                    <label for="publish_at" class="form-label">Datum a čas začátku publikace (zobrazí se u článku)</label>
                    <input type="datetime-local" class="form-control" id="publish_at" name="publish_at" value="{{ pageData.article.publish_at }}">
                </div>

                <!-- Datum a čas konce publikace -->
                <div class="mb-3">
                    <label for="publish_end_at" class="form-label">Datum a čas konce publikace</label>
                    <input type="datetime-local" class="form-control" id="publish_end_at" name="publish_end_at" value="{{ pageData.article.publish_end_at }}">
                </div>

                <!-- Datum a čas poslední modifikace -->
                <div class="mb-3">
                    <label for="modified_at" class="form-label">Datum a čas poslední modifikace (zobrazí se u článku)</label>
                    <input type="datetime-local" class="form-control" id="modified_at" name="modified_at" value="{{ pageData.article.modified_at }}">
                </div>

                <div class="mb-3">
                    <h5>Vyberte kategorii</h5>
                    {% import _self as macros %}

                    {% for navId, navGroup in pageData.articleCats %}
                        {% if navGroup.categories|length > 0 %}
                            <div class="navigation-group mb-4" style="border-bottom: 1px #999 solid;">
                                <h6>{{ navGroup.navigation.name }}</h6>
                                {{ macros.renderCategoryCheckboxes(navGroup.categories, pageData.article.categories) }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <p>Dvojkliknutím na název kategorie vytvoříte url článku s použitím url kategorie.</p>
                </div>
                 {% include 'inc/imageModal1.twig' %} {# zde se přikládají tři modalní okna pro výběr obrázků #}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Uložit příspěvek</button>
    </div>
</div>

</form>