{% macro renderCategoryCheckboxes(categories, selectedCategories) %}
    {% import _self as self %}
    {% set selectedCategories = selectedCategories|default([]) %}
    <ul class="list-disc ml-6 space-y-2">
    {% for category in categories %}
        {% set isChecked = selectedCategories|filter(c => c.id == category.id)|length > 0 %}
        {% if category.meta.listArticles != "true" and category.is_active != "suspend" %}
        <li class="ml-5">
            <input type="checkbox" id="category_{{ category.id }}" name="categories[]" value="{{ category.id }}" {{ isChecked ? 'checked' : '' }}>
            <label for="category_{{ category.id }}" data-url="{{ category.url }}" data-id="{{ category.id }}" style="cursor: pointer;" class="no-select">{{ category.title }}</label>
            {% if category.children|length > 0 %}
                {{ self.renderCategoryCheckboxes(category.children, selectedCategories) }}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endmacro %}
<style>
</style>
<form id="articleForm" method="post" action="{{ domainData.SITE_WEB }}/admin/doArticle">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Obsah stránky</h5>
        </div>
        <div class="card-body">
        
            <!-- Skryté ID článku -->
            <input type="hidden" class="form-control" id="id" name="id" value="{{ pageData.article.id|default('') }}" />

            <!-- Skryté ID uživatele -->
            <input type="hidden" class="form-control" id="user_id" name="user_id" value="{{ pageData.article.user_id|default(userData.uid) }}" />
            <input type="hidden" class="form-control" id="metaContentTyp" name="meta[content_typ]" value="source">

            <!-- Název článku a výběr druhu obsahu -->
            <!-- Název článku -->
            <div class="row mb-3">
                <div class="col-md-8">
                    <label for="title" class="form-label">Název článku</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ pageData.article.title|default('') }}" required>
                </div>
                <div class="col-md-2">
                    <label for="status" class="form-label">Stav</label>
                    <select class="form-select" id="status" name="status" required>
                        <option value="development" {% if pageData.article.status == 'development' %}selected{% endif %}>V přípravě</option>
                        <option value="active" {% if pageData.article.status == 'active' %}selected{% endif %}>Aktivní</option>
                        <option value="suspend" {% if pageData.article.status == 'suspend' %}selected{% endif %}>Zrušen</option>
                    </select>
                </div>
            </div>

            <!-- Tělo článku -->
            <div class="mb-3">
                <label for="body" class="form-label">Tělo článku</label>
                <textarea class="form-control" id="editor" name="body" style="min-height: 500px; !important">{{ pageData.article.body|default('') }}</textarea>
            </div>

        </div>
    </div>
    <div class="card">
    <div class="card-header">
        <h5 class="card-title">Podrobnosti</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Levý sloupec pro ostatní položky (7 z 12) -->
            <div class="col-md-7">
                <!-- Url -->
                <div class="mb-3">
                    <label for="url" class="form-label">Adresa stránky</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://www.{{ domainData.SITE_DOMAIN }}</span>
                        <input type="text" class="form-control" readonly id="url" name="url" value="{{ pageData.article.url|default('') }}">
                    </div>
                </div>

                <!-- Podnázev -->
                <div class="mb-3">
                    <label for="subtitle" class="form-label">Podnázev</label>
                    <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ pageData.article.subtitle|default('') }}">
                </div>

                <!-- Snippet -->
                <div class="mb-3">
                    <label for="snippet" class="form-label">Snippet</label>
                    <textarea class="form-control" id="snippet" name="snippet">{{ pageData.article.snippet|default('') }}</textarea>
                </div>

                <!-- Krátký text -->
                <div class="mb-3">
                    <label for="short_text" class="form-label">Krátký text</label>
                    <input type="text" class="form-control" id="short_text" name="short_text" value="{{ pageData.article.short_text|default('') }}">
                </div>

                <!-- Meta Title -->
                <div class="mb-3">
                    <label for="metaTitle" class="form-label">Meta Title</label>
                    <input type="text" class="form-control" id="metaTitle" name="meta[title]" value="{{ pageData.article.meta.title|default('') }}">
                </div>

                <!-- Meta Description -->
                <div class="mb-3">
                    <label for="metaDescription" class="form-label">Meta Description</label>
                    <textarea class="form-control" id="metaDescription" name="meta[description]">{{ pageData.article.meta.description|default('') }}</textarea>
                </div>

                <!-- Meta Keywords -->
                <div class="mb-3">
                    <label for="metaKeywords" class="form-label">Meta Keywords</label>
                    <input type="text" class="form-control" id="metaKeywords" name="meta[keywords]" value="{{ pageData.article.meta.keywords|default('') }}">
                </div>
            </div>
            <div class="col-md-5">
                <!-- Pravý sloupec pro výběr kategorií (5 z 12) -->
                <div class="mb-3">
                    <h5>Vyberte kategorii</h5>
                    {% import _self as macros %}

                    {% for navId, navGroup in pageData.articleCats %}
                        {% if navGroup.categories|length > 0 %}
                            <div class="navigation-group mb-4" style="border-bottom: 1px #999 solid;">
                                <h6>{{ navGroup.navigation.name }}</h6>
                                {{ macros.renderCategoryCheckboxes(navGroup.categories, pageData.article.categories) }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <p>Dvojkliknutím na název kategorie vytvoříte url článku s použitím url kategorie.</p>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Uložit příspěvek</button>
    </div>
</div>
</form>