<style>
ul {
    list-style: none;
}
ul.drag-container.top-level {
    padding-left: 0;
}

li{
        border-left: 0px !important;
        border-right: 0px !important;
}

div.accordion-body, .accordion-button{
    border-left: 1px #E1E7ED solid !important;
    border-right: 1px #E1E7ED solid !important;
    border-radius: 10px;
}
</style>

{% macro renderCategories(categories, domainData, isTopLevel = false) %}
    <ul class="drag-container {{ isTopLevel ? 'top-level' : '' }}">
        {% for category in categories %}
            <li class="accordion-item" data-id="{{ category.id }}" data-indent-level="{{ category.pathInfo|length - 1 }}">
                <div class="accordion-header" id="heading{{ category.id }}">
                    <button class="accordion-button collapsed category-indent-{{ category.pathInfo|length - 1 }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category.id }}" aria-expanded="false" aria-controls="collapse{{ category.id }}">
                        {{ category.title }}
                    </button>
                </div>
                <div id="collapse{{ category.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ category.id }}">
                    <div class="accordion-body">
                        {% include 'forms/categoryEditForm.twig' %} 
                    </div>
                </div>
                {% if category.children|length > 0 %}
                    {{ _self.renderCategories(category.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% import _self as macros %}
{{ macros.renderCategories(pageData.allCats, domainData, true) }}
